.container {
  margin: 50px auto;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  width: 500px;
  padding: 50px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.admin{
text-align: right;
margin-top: 10px;
}
.adminIcon{
  width: 50px;
  height: 25px;
  margin-right: -10px;
  margin-top: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.adminIcon :hover{
  transition: all .3s ease-in-out;
  transform: scale(1.1);
}

.container img {
  width: 100px;
  height: 100px;
  border-radius:   51% 49% 49% 51% / 15% 15% 85% 85%;

}

.icon {
 width: 30px;
 height: 30px;
 margin-left: 35px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.random-user {
  background-color: rgba(0,0,0, 0.3);
  width: 150px;
  height: 50px;
  margin-top: 50px;
  border: 1px solid gray;
  border-radius: 25px;
  
}

.random-user:hover {
  cursor: pointer;
  background-color: rgba(0,0,0, 0.5);
  transition: all .7s ease-in-out;
  transform: scale(1.05);
}